# Proxmox Backup Client environment for pbc-scripts / proxmox-backup-client
export PBS_BACKUP_DIR={{ pbc_backup_dir }}
export PBS_BACKUP_NAME={{ pbc_backup_name }}
export PBS_NAMESPACE={{ pbc_namespace }}
export PBS_REPOSITORY={{ pbc_repository }}

# Need to manually fill in the password here.
export PBS_PASSWORD=
