# Proxmox Backup Client environment for pbc-scripts / proxmox-backup-client
export PBS_BACKUP_DIRS={{ pbc_scripts_backup_dirs | default(pbc_scripts_backup_dir | default('')) }}
export PBS_BACKUP_NAME={{ pbc_scripts_backup_name }}
export PBS_NAMESPACE={{ pbc_scripts_namespace }}
export PBS_REPOSITORY={{ pbc_scripts_repository }}

# Need to manually fill in the password here.
export PBS_PASSWORD=
